In [1]:
1+1

2

In [3]:
a=[1,2,3,4,5]

In [4]:
合計/データ数

NameError: name '合計' is not defined

平均の求め方をパソコンに覚えさせたい。

合計/データ数　→　エラー

In [5]:
合計＝全部足した結果

SyntaxError: invalid character in identifier (<ipython-input-5-3ef3c9b35661>, line 1)

これもエラー

合計とは？
s=0とする
sに1加える
sに2加える…。

In [6]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [8]:
a = [1,2,3,4,5]

for x in a:
    print(x)

1
2
3
4
5

リストaの各要素をxと呼び、xをprintする

（仮でxにしているだけなので、リストの名前はなんでもいい）

：をつけると勝手にインデントされる

pthonは字下げすることで、有効範囲が変わる

In [9]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
 print(val)
#問題91

5349
5478
5344
4644
4968
6259

In [10]:
a

[1, 2, 3, 4, 5]

In [12]:
s=0

for x in a:
    s=s+x
    
s
#92

15

In [13]:
a

[1, 2, 3, 4, 5]

In [14]:
s=0

for x in a:
    s=s+x
    
s/len(a)

3.0

これでパソコンに平均の求め方を覚えさせられた。

In [15]:
avg_tohoku = 0.0

for val in list_tohoku:
    avg_tohoku += val
    
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

+= 足していく

/=　名前を変える

In [23]:
(3148+2991+2966+2457)/4

2890.5

In [27]:
list_shikoku = [3148, 2991, 2966, 2457] 
    
s=0
for x in list_shikoku:
    s+=x
        
s/len(list_shikoku)

#93

2890.5

In [28]:
from statistics import *

In [29]:
mean(list_shikoku)

#94

2890.5

In [31]:
mean([1,2,3,4,5])

3

mean 平均

In [48]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [49]:
dic={'A':100,'B':20,'C':3000}

In [50]:
dic['A']

100

In [51]:
for key in dic:
    print(key)
    
    #96

A
B
C

keyだけが取り出される

In [54]:
for val in dict_tohoku:
 print(dict_tohoku[val])

5349
4644
5344
4968
6259
5478

In [57]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]
    

s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1.[5,4,3,2]の平均

2.{'A':10,'B':100,'C':1000}の値の平均

3.{10:'A',100:'B',1000:'C'}のキーの平均

In [58]:
a=[5,4,3,2]
s=0

for x in a:
    s += x
    
s/len(a)

3.5

In [59]:
mean(a)

3.5

In [60]:
a={'A':10,'B':100,'C':1000}
s=0

for x in a:
    s += a[x]
    
s/len(a)

370.0

In [62]:
mean(a.values())

370

In [63]:
s=0

for x in a.values():
    s += x
    
s/len(a)

#99

370.0

In [64]:
a={10:'A',100:'B',1000:'C'}
s=0

for x in a:
    s += x
    
s/len(a)

370.0